// ===================
// Extends
// ===================

%a-style {
	color: $color-a;
	text-decoration: none;
		&:hover{
			color: $color-a-hover;
		}
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}