// ==============================
// Base Color Declarations
// ==============================

body{
	color: $color-text;
}

header, 
footer,
html {
	background: $color-bg;
}

.nav li	{
	background: $color-nav-bg;
}

main {
	color: $color-main-text;
	background: $color-text;
}

h4 {
	color: $color-h4;
}

#skills {
	background: $color-div-2;
	color: $color-text-2;
}

a:hover {
	color: $color-a-hover;
}