// ================================
// Base Headline Styles
// ================================


h1 {
	@include text($weight:700);
	padding: 20px;
	
	@media #{$brk-med} {
		@include text(1.5em);
		padding: 30px;
	}
	
	@media #{$brk-lg} {
		display: inline;
		float: left;
		padding: 0 25px;
		margin: 0;
	}
}
			
h3 {
	@include text(.8em);
	padding: 45px;
	text-transform: uppercase;
	
	@media #{$brk-med} {
		font-size: 1em;
	}
}
			
h4 {
	@include text(1.2em, $weight:400);
	padding: 15px 0 5px;
}