// ================================
// Base Headline Styles
// ================================


h1 {
	font-weight: 700;
	padding: 20px;
	
	@media #{$brk-med} {
		font-size: 1.5em;
		padding: 30px;
	}
	
	@media #{$brk-lg} {
		display: inline;
		float: left;
		padding: 0 25px;
		margin: 0;
	}
}
			
h3 {
	padding: 45px;
	text-transform: uppercase;
	font-size: .8em;
	
	@media #{$brk-med} {
		font-size: 1em;
	}
}
			
h4 {
	padding: 15px 0 5px;
	font-weight: 400;
	font-size: 1.2em;
}